<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the weather app :)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Check the weather in the world
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Check
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather_data.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather_data.city }}</span>
                                        <br>
                                        <a href="https://www.google.com/maps/?q={{ weather_data.lat }}, {{ weather_data.lon }}">{{weather_data.lat}}, {{weather_data.lon}}</a>
                                        <br>
                                        <span class="subtitle"><b>Now:</b></span>
                                        <br>
                                        <span class="subtitle" id="frnt">{{ weather_data.temp}} F</span>
                                        <span class="subtitle" id="celc">{{ celc_temp }} C</span>
                                        <br> {{ weather_data.main_weather }}
                                        <br> {{ weather_data.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-offset-1 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ historical_data.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ historical_data.city }}</span>
                                        <br>
                                        <a href="https://www.google.com/maps/?q={{ weather_data.lat }}, {{ weather_data.lon }}">{{weather_data.lat}}, {{weather_data.lon}}</a>
                                        <br>
                                        <span class="subtitle"><b>5 days ago:</b></span>
                                        <br>
                                        <span class="subtitle" id="frnt2">{{ historical_data.temp}} F</span>
                                        <span class="subtitle" id="celc2">{{ historic_celc_temp }} C</span>
                                        <br> {{ historical_data.main_weather }}
                                        <br> {{ historical_data.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
           
        </div>
        <br>
        <br>

        <div class="container">
            <div class="columns is-centered">
                <button onclick="show()">Celcius to Fahrenheit</button>
                <button onclick="hide()">Fahrenheit to Celsius</button>
                <script>
                    document.getElementById("frnt").style.visibility = "visible";
                    document.getElementById("celc").style.visibility = "hidden";
                    document.getElementById("frnt2").style.visibility = "visible";
                    document.getElementById("celc2").style.visibility = "hidden";
                    function show(){
                        document.getElementById("frnt").style.visibility = "visible";
                        document.getElementById("celc").style.visibility = "hidden";
                        document.getElementById("frnt2").style.visibility = "visible";
                        document.getElementById("celc2").style.visibility = "hidden";
                    }
                
                    function hide(){
                        document.getElementById("celc").style.visibility = "visible";
                        document.getElementById("frnt").style.visibility = "hidden";
                        document.getElementById("celc2").style.visibility = "visible";
                        document.getElementById("frnt2").style.visibility = "hidden";
                    }
                </script>
            </div>
        </div>           
       
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                    <table class="table">
                        <div class="table is-bordered">
                            <thead>
                            <tr>
                                <th>{{ weather_data.city }}</th>
                                <th><abbr title="Now">Now</abbr></th>
                                <th><abbr title="5 Days ago">5 Days ago</abbr></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Temp:</th>
                                    <td>{{ weather_data.temp}}</td>
                                    <td>{{ historical_data.temp}}</td>
                                </tr>
                                <tr>
                                    <th>Main Weather:</th>
                                    <td>{{ weather_data.main_weather }}</td>
                                    <td>{{ historical_data.main_weather }}</td>
                                </tr>
                                <tr>
                                    <th>Wether Description:</th>
                                    <td>{{ weather_data.description }}</td>
                                    <td>{{ historical_data.description }}</td>
                                </tr>
                            </tbody>
                        </div>
                    </table>
          
                </div>
                
                </div>
            </div>
       </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="dl">
                    <a href="{{ url_for('download_data') }}"
                        <button class="button is-info">
                            Download Weather data
                        </button>
                    </a>
                </div>
            </div>
        </div> 
        <
    </section> 
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="avg">
                    <a href="{{ url_for('five_day_unix_date') }}"
                        <button class="button is-info">
                            Get 5 days avg
                        </button>
                    </a>
                </div>
            </div>
        </div>         
    </section>
    <section class="section">
        <div class="container">
            <div class="content">
                <h4>Raw data from the API for current weather:</h4>
                <br>
                <p>{{ r }}</p>
                <h4>Raw data from the API for historical weather:</h4>
                <br>
                <p>{{ r2 }}</p>
            </div>
        </div> 
    </section> 
       

    <footer class="footer">
        
    </footer>
</body>

</html>